<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center" id="target-id">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />

<h2 id="found"> </h2>
<p id="results"> </p>
<p class="message" id="message"> </p>


<script>
  $("#entry").submit( function(event) {
   event.preventDefault();
  });

  $("#attempt").keyup(function(event){
    $('.highlighted').contents().unwrap(); // remove everything that is highlighted for now.
    var txt = $("#attempt").val();
    var letter = String.fromCharCode(event.which);
    var words = document.getElementsByClassName("col-xs-2 text-center");
     // the keypressed wasn't a letter so clear the input and return.
    if (!"ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)){
      if(event.keyCode == 8 || (16 <= event.keyCode && event.keyCode <= 20) || event.keyCode == 27 || (33 <= event.keyCode && event.keyCode <= 40) || (event.keyCode == 45) || (event.keyCode == 46) || (112 <= event.keyCode && event.keyCode <= 123) ){
        return;
      }
      $("#attempt").val(""); 
      txt = $("#attempt").val(); 
      return;
    }
    $.getJSON("/_check", {attempt: txt}, 
      function(data){
            var letters = data.result.letters.toUpperCase();
            var matches = data.result.matches;
            var message = data.result.message;
            var target_count = data.result.target_count;
            var found = data.result.found;
            var enoughLetters = data.result.enoughLetters;
            $("#message").html("");
            if (!letters.includes(letter)){ $("#attempt").val(""); return; } // letter not in the anagram.
          
            for(var i = 0; i < words.length; i++){
              var word = words[i].innerHTML;
              var trimmedWord = word.trim(); // the word but without the white spaces at the beginning and end.
              if (found && trimmedWord == matches[matches.length-1]){ // see if a word has been found and the word we are currently looking at is the word that has been found.
                words[i].innerHTML = '<strike class= word-found>' + word + '</strike>';
              } 
            }     
              if (found){
                $("#results").html("");
                for(var i = 0; i < matches.length; i++){
                  $("#attempt").val("");
                  $("#results").append(matches[i] + " ");  
                  $('#target-id').html("to spell "  + (target_count-matches.length) + " words from the list.")
                } 
              $("#found").html("You Found ");
              }
              // if a word hasn't been found the highlight whatever is needed.
              else{
                if(!enoughLetters){
                  $("#message").html("You found the word '" + txt + "' but you don't have enough letters to spell it." );
                  $("#attempt").val(""); 
                  txt = $("#attempt").val(); 
                }
                highlight(words, txt);
              }
            
            if (matches.length == target_count){
              window.location.href = window.location.origin + "/success"
              return
            } 

        });
  });

/* 
  Function that takes in the element which contains the words and takes in the text
  in which of the highlighted word should start with to be highlighted.
*/
function highlight(words, txt){
  for(var i = 0; i < words.length; i++){
    var word = words[i].innerHTML;
    var trimmedWord = word.trim(); // the word but without the white spaces at the beginning and end.
    if(trimmedWord.startsWith(txt) && txt != ""){
        // highlight word
        words[i].innerHTML = '<span style="background-color:yellow" class=highlighted>' + txt + '</span>' + trimmedWord.substring(txt.length);
      }
  }
}
</script>

 </div> <!-- container -->
</body> </html>
